﻿@{
    ViewBag.Title = "Index";
}

<h2>Dodaj kurs</h2>
<div class="container">
    <div class="master">
        <h2>Kurs</h2>
        <table class="table table-responsive">
            <tr>
                <td>Nazwa kursu</td>
                <td>
                    <select id="NazwaKursuSelect" class="pc form-control" onchange="PoleKursChanged()">
                        <option>Nowy kurs...</option>
                    </select>
                    <span class="error">Wybierz istniejącą nazwę lub wprowadź nową nazwę kursu poniżej.</span>
                </td>
                <td>Kategoria kursu</td>
                <td>
                    <select id="KategoriaKursuSelect" class="pc form-control" onchange="PoleKategoriaChanged()">
                        <option>Nowa kategoria...</option>
                    </select>
                    <span class="error">Wybierz istniejącą kategorię lub wprowadź nową nazwę kategorii poniżej. </span>
                </td>
            </tr>
            <tr>
                <td>Nazwa kursu</td>
                <td>
                    <input type="text" id="NazwaKursu" class="form-control" />
                </td>
                <td>Kategoria Kursu</td>
                <td>
                    <input type="text" id="KategoriaKursu" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>Warunek uczestnictwa</td>
                <td>
                    <input type="text" id="WarunekUczestnictwa" class="form-control" />
                    <span class="error">Wymagane podanie warunku uczestnictwa.</span>
                </td>
                <td>Nazwa edycji</td>
                <td>
                    <input type="text" id="NazwaEdycji" class="form-control" />
                    <span class="error">Wymagana nazwa edycji</span>
                </td>
            </tr>
            <tr>
                <td>Opis</td>
                <td colspan="4" align="center">
                    <textarea id="Opis" class="form-control" style="resize: none"></textarea>
                    <span style="float: left" class="error">Wymagany opis.</span>
                </td>

            </tr>

        </table>
    </div>
    <div class="details">
        <h2>
            Spotkania
        </h2>
        <table class="table table-responsive">
            <tr>
                <td>Data</td>
                <td>Miejsce</td>

                <td>&nbsp;</td>
            </tr>
            <tr class="mycontainer" id="mainrow">


                <td>
                    <input id="datetimepicker" type="text" class="form-control">
                    <span class="error">Nie wybrano terminu spotkania</span>
                    @*<div class="input-group date" id="datetimepicker">
                            <input type="text" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>

                        </div>*@


                </td>
                <td>
                    <input type="text" id="Miejsce" class="form-control" />
                    <span class="error">Podaj miejsce spotkania</span>
                </td>
                <td>
                    <input type="button" id="add" value="Dodaj" style="width:auto" class="btn btn-success" />
                </td>
            </tr>
        </table>
        <div id="orderItems">
            <table class="table table-responsive" id="orderdetailsItems"></table>
            <span id="orderItemError" style="color:red"></span>
        </div>
        <div style="padding:10px 0; text-align:right">
            <input id="submit" type="button" value="Zapisz nowy kurs" class="btn btn-warning" style="width: auto" />
        </div>
    </div>
</div>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css">
<script src="/jquery.js"></script>
<script src="/build/jquery.datetimepicker.full.min.js"></script>

<script type="text/javascript">
    jQuery('#datetimepicker').datetimepicker();
    //$(function () {
    //    $('#datetimepicker').datepicker({
    //        dateFormat: 'dd-mm-yy'
    //    })
    //})
    var Categories = []
    var Kursy = []
    function PoleKursChanged() {
        var x = $('select[id="NazwaKursuSelect"]').val();
        if (x != 0) {
            $("#NazwaKursu").prop('readonly', true);
            $("#NazwaKursu").val("");
            $("#Opis").prop('readonly', true);
            //$("#Opis").val("");
            $("#KategoriaKursu").prop('readonly', true);
            $("#KategoriaKursu").val("");
            KategoriaDlaWybranegoKursu($("#KategoriaKursuSelect"));
            LoadOpisDlaWybranegoKursu($("#Opis"));
        }
        //document.getElementById("NazwaKursu").readOnly = true;
        else {
            $("#NazwaKursu").prop('readonly', false);
            $("#KategoriaKursu").prop('readonly', false);
            $("#KategoriaKursuSelect").prop('disabled', false);
            $("#Opis").prop('readonly', false);
            $("#Opis").val("");
            LoadCategory($('#KategoriaKursuSelect'));
            LoadWszystkieKursy($('#NazwaKursuSelect'));
            //document.getElementById("NazwaKursu").readOnly = false;
        }
    }
    function LoadOpisDlaWybranegoKursu(element) {
        var data = {
            IdKursu: $('#NazwaKursuSelect').val().trim()
        };
        $.ajax({
            type: "POST",
            url: '/Test/GetOpisKursu',
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (data) {
                renderOpisDlaWybranegoKursu(element, data);
            }
        });
    }
    function renderOpisDlaWybranegoKursu(element, data) {
        var $ele = $(element);
        $ele.empty();
        $ele.val(data);
        $ele.prop('readonly', true);
    }

    function PoleKategoriaChanged() {
        var x = $('select[id="KategoriaKursuSelect"]').val();
        if (x != 0) {
            $("#KategoriaKursu").prop('readonly', true);
            $("#KategoriaKursu").val("");
            LoadKursyWybranejKategorii($("#NazwaKursuSelect"));
        } else {
            $("#KategoriaKursu").prop('readonly', false);
            LoadWszystkieKursy($("#NazwaKursuSelect"));
        }
    }

    function LoadKursyWybranejKategorii(element) {
        var data = {
            IdKategorii: $('#KategoriaKursuSelect').val().trim()
        };
        $.ajax({
            type: "POST",
            url: '/Test/GetKursyKategorii',
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (data) {
                renderKursyWybranejKategorii(element, data);
            }
        });
    }
    function renderKursyWybranejKategorii(element, data) {
        var $ele = $(element);
        $ele.empty();
        $ele.append($('<option/>').val('0').text('Nowy kurs...'));
        $.each(data,
            function (i, val) {
                $ele.append($('<option/>').val(val.IdKursu).text(val.Nazwa));
            });
    }
    //fetch categories from database
    function LoadCategory(element) {
        if (Categories.length == 0) {
            //ajax function for fetch data
            $.ajax({
                type: "GET",
                url: '/Test/getProductCategories',
                success: function (data) {
                    Categories = data;
                    //render catagory
                    renderCategory(element);
                }
            });
        }
        else {
            //render catagory to the element
            renderCategory(element);
        }
    }

    function renderCategory(element) {
        var $ele = $(element);
        $ele.empty();
        $ele.append($('<option/>').val('0').text('Nowa kategoria...'));
        $.each(Categories,
            function (i, val) {
                $ele.append($('<option/>').val(val.IdKategorii).text(val.Nazwa));
            });
    }

    function LoadWszystkieKursy(element) {
        if (Kursy.length == 0) {
            //ajax function for fetch data
            $.ajax({
                type: "GET",
                url: '/Test/getKursy',
                success: function (data) {
                    Kursy = data;
                    //render catagory
                    renderKursy(element);
                }
            });
        }
        else {
            //render catagory to the element
            renderKursy(element);
        }
    }
    function renderKursy(element) {
        var $ele = $(element);
        $ele.empty();
        $ele.append($('<option/>').val('0').text('Nowy kurs...'));
        $.each(Kursy,
            function (i, val) {
                $ele.append($('<option/>').val(val.IdKursu).text(val.Nazwa));
            });
    }

    function KategoriaDlaWybranegoKursu(element) {
        var data = {
            IdKursu: $('#NazwaKursuSelect').val().trim()
        };
        $.ajax({
            type: "POST",
            url: '/Test/getKategoriaKursu',
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (data) {
                renderKategoriaWybranegoKursu(element, data);
            }
        });
    }

    function renderKategoriaWybranegoKursu(element, data) {
        var $ele = $(element);
        //debugger;
        $ele.empty();
        $ele.append($('<option/>').val(data.IdKategorii).text(data.kategoria));
        $("#KategoriaKursuSelect").prop('disabled', 'disabled');
        //$ele.append($('<option/>').val(data.kategoria.IdKategorii).text(data.kategoria));
    }
    function SprawdzPoprawnosc() {
        var $ele = $(element);
        //debugger;
        $ele.empty();
        $ele.append($('<option/>').val(data.IdKategorii).text(data.kategoria));
        $("#KategoriaKursuSelect").prop('disabled', 'disabled');
        //$ele.append($('<option/>').val(data.kategoria.IdKategorii).text(data.kategoria));
    }




    $(document).ready(function () {
        //Add button click event
        $('#add').click(function () {
            // debugger;
            //validation and add order items
            var isAllValid = true;
            if ($('#datetimepicker').val() == "") {
                $('#datetimepicker').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#datetimepicker').siblings('span.error').css('visibility', 'hidden');
                
            }
            if ($('#Miejsce').val() == "") {
                $('#Miejsce').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                
                $('#Miejsce').siblings('span.error').css('visibility', 'hidden');
            }

            if (isAllValid) {
                var $newRow = $('#mainrow').clone().removeAttr('id');
                $($newRow).val($('#datetimepicker').val());
                $($newRow).val($('#Miejsce').val());

                //debugger;
                //Replace add button with remove button
                $('#add', $newRow).addClass('remove').val('Usuń').removeClass('btn-success').addClass('btn-danger');


                $($newRow.elements).prop('readonly', true);
                //remove id attribute from new clone row
                // $('#Miejsce,#datetimepicker,#add', $newRow).removeAttr('id');
                $('span.error', $newRow).remove();

                //append clone row
                $('#orderdetailsItems').append($newRow);

                //clear select data
                $('#datetimepicker').find("input").val("");
                //$('#Miejsce').val("");
                // $('#quantity,#rate').val('');
                $('#orderItemError').empty();
            }

        })


        //remove button click event
        $('#orderdetailsItems').on('click', '.remove', function () {
            $(this).parents('tr').remove();
        });

        $('#submit').click(function () {
            console.log($('#orderdetailsItems').find('> tbody > tr').length);
            // debugger;
            var list = [];
            var data = {
                NazwaKursu: $('#NazwaKursu').val().trim(),
                IdKursu: $('#NazwaKursuSelect').val().trim(),
                NazwaKategorii: $('#KategoriaKursu').val().trim(),
                IdKategoriiKursu: $('#KategoriaKursuSelect').val().trim(),
                Warunek: $('#WarunekUczestnictwa').val().trim(),
                Opis: $('#Opis').val().trim(),
                NazwaEdycji: $('#NazwaEdycji').val().trim(),
                Lista: []
            }

            var isAllValid = true;
            if ($('#NazwaKursu').val() == "" && $('#NazwaKursuSelect').val().trim() == 0) {
                $('#NazwaKursuSelect').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#NazwaKursuSelect').siblings('span.error').css('visibility', 'hidden');
            }

            if ($('#KategoriaKursu').val() == "" && $('#KategoriaKursuSelect').val().trim() == 0) {
                $('#KategoriaKursuSelect').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#KategoriaKursuSelect').siblings('span.error').css('visibility', 'hidden');
            }
            if ($('#NazwaEdycji').val() == "") {
                $('#NazwaEdycji').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#NazwaEdycji').siblings('span.error').css('visibility', 'hidden');
            }
            if ($('#Opis').val() == "") {
                $('#Opis').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#Opis').siblings('span.error').css('visibility', 'hidden');
            }
            if ($('#WarunekUczestnictwa').val() == "") {
                $('#WarunekUczestnictwa').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#WarunekUczestnictwa').siblings('span.error').css('visibility', 'hidden');
            }
            //debugger;

            //$('#orderdetailsItems').find('> tbody > tr ').each(function () {
            //    console.log($(this).find('input').val());
            //    var orderItem = {
            //        Czas: $('.datetimepicker', this).val(),
            //        Miejsce: parseInt($('.Miejsce', this).val())
            //    }
            //    list.push(orderItem);
            //});

            $('#orderdetailsItems > tbody > tr').each(function () {
                console.log($(this).find("input[id^=Miejsce]").val());
                console.log($(this).find("input[id^=datetimepicker]").val());
                //var s = $(this).find("input[id^=Miejsce]").val();
                //debugger;
                var orderItem = {
                    TerminSpotkania: $(this).find("input[id^=datetimepicker]").val(),
                    MiejsceSpotkania: $(this).find("input[id^=Miejsce]").val()
                }
                data.Lista.push(orderItem);
                //debugger;
            });
            // debugger;
            if (isAllValid) {
                $(this).val('Proszę czekać...');

                $.ajax({
                    type: 'POST',
                    url: '/Test/save',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.status) {
                            alert(data.wiadomosc);
                            $('#submit').text('Zapisz nowy kurs');
                            //here we will clear the form
                            list = [];
                            // $('#orderNo,#orderDate,#description').val('');
                            // $('#orderdetailsItems').empty();
                            window.location.href = '/EdycjaKursu/';
                        }
                        else {
                            alert(data.wiadomosc);
                        }
                        $('#submit').text('Zapisz nowy kurs');
                    },
                    error: function (error) {
                        console.log(error);
                        $('#submit').text('Zapisz nowy kurs');
                    }
                });

            }
        });

    });

    LoadCategory($('#KategoriaKursuSelect'));
    LoadWszystkieKursy($('#NazwaKursuSelect'));

</script>
<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    textarea {
        width: 300px;
        height: 150px;
    }

    tr.error {
        background-color: rgba(255,0,0,0.35);
    }
</style>