﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "AssignRoleToUser";
}

<h2>AssignRoleToUser</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Wybierz typ użytkownika", new { @class = "col-md-2 control-label" })
        <div class="col-lg-10">
            @Html.DropDownList("UserName")
        </div>
    </div>
}