﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "title";
}

<h2>Dodaj nową rolę</h2>



@using (Html.BeginForm())
{
    <table class="table table-bordered table-hover">
        <tr>
            <td>Nazwa roli:</td>
            <td>
                @Html.EditorFor(m=>m.Name)
            </td>
        </tr>
    </table>
    <input type="submit" value="Dodaj"/>
}