﻿@model System.Collections.Generic.List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "title";
}
@*<style type="text/css">
    #tbrole, .c {
        border: double;
    }
</style>*@
<h2>Role dla Aplikacji</h2>

<section class="col-sm-6">
    <table class="table-bordered">
        @Html.ActionLink("Utwórz nową", "Create", "Roles")
    </table>
</section>

<section class="col-sm-6">
    <table class="table-bordered">
        @Html.ActionLink("Przypisz role użytkownikowi", "RegisterRole", "Account")
    </table>
</section>

<table class="c">
    <tr>
        <th class="c">
            Nazwa roli
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="c">
                @item.Name
            </td>
        </tr>
    }

</table>