﻿@{
    ViewBag.Title = "Dziękujemy za rejestrację.";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Teraz możesz się zalogować. @Html.ActionLink("Kliknij tutaj, aby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
