﻿@model ObslugaKursow.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Zarejestruj";
}
<h2>@ViewBag.Title.</h2>
<h3>Skojarz konto @ViewBag.LoginProvider.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Formularz skojarzenia</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        Pomyślne uwierzytelnienie za pomocą konta <strong>@ViewBag.LoginProvider</strong>.
        Wprowadź poniżej nazwę użytkownika dla tej witryny i kliknij przycisk Rejestruj, aby zakończyć
        logowanie.
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Zarejestruj" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
