﻿@using Microsoft.AspNet.Identity
@model ObslugaKursow.Models.EdycjaKursu



@using (Html.BeginForm("Uczestnicz", "Test", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    string UserID = User.Identity.GetUserId();
    <h3>Tekst</h3>
    @Html.HiddenFor(m => m.IdEdycji)
    <input multiple type="file" name="files" , value="Browse" />
    <br />
    <input type="submit" value="Dołącz" class="btn btn-primary " />

}

@if (ViewBag.UploadSuccess == true)
{
    <span>Pomyślnie dodano pliki</span>
}