﻿@model ObslugaKursow.Models.EdycjaKursu

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


Do zrobienia dodawanie Kursu i spotkań w formie Master - Detail tak jak <a href="http://abctutorial.com/Post/35/mvc-5-master-details-using-jquery-ajax">tutaj</a>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {


            var mydata = $("#myForm").serialize();

            debugger
            $.ajax({
                type: "POST",
                url: "/EdycjaKursu/NowaKategoria",
                data: mydata,
                succes: function () {
                    alert("wgrane");
                }

            })
        })
    })
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
