﻿@model ObslugaKursow.Models.EdycjaKursu

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły kursu:</h2>
<h4>@Model.Kurs.Nazwa, @Model.NazwaEdycji</h4>
@if (Model.Spotkania.Count != 0)
{
    <h5>
        @Model.Kurs.Opis
    </h5>

    <table class="table table-striped" , sortable="True">
        <tr>
            <th>
                Miejsce spotkania:
            </th>
            <th>
                Data spotkania
            </th>

        </tr>

        @foreach (var item in Model.Spotkania)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MiejsceSpotkania)
                </td>
                <td>
                    @Html.Label(item.TerminSpotkania.ToLongDateString()), godz. @item.TerminSpotkania.ToShortTimeString()
                </td>

            </tr>
        }
        <tr>
            <td align="left">
                @Html.ActionLink("Wróć do listy dostępnych kursów", "Index", null, new { @class = "btn btn-primary" })

            </td>
            <td align="right">
                @Html.ActionLink("Dołącz", "Contribute", new { id = Model.IdEdycji }, new { @class = "btn btn-primary" })

            </td>
        </tr>



    </table>
}
else
{
    <h4>Niestety, nie ustalono jeszcze terminów spotkań dla wybranego kursu, prosimy o cierpliwość.</h4>
    <table>       
    
        <tr>
            <td align="left">
                @Html.ActionLink("Wróć do listy dostępnych kursów", "Index", null, new { @class = "btn btn-primary" })

            </td>
            <td align="right">
            </td>
        </tr>
    </table>
}










