﻿@model IEnumerable<ObslugaKursow.Models.EdycjaKursu>



<h2>Lista dostępnych kursów</h2>


<table class="table table-striped">
    <tr>
        <th>
            Nazwa Kursu
        </th>
        <th>
            Warunek Uczestnictwa
        </th>
        <th>
            Nazwa Edycji
        </th>
        <th>
            Pierwsze spotkanie
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kurs.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarunekUczestnictwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazwaEdycji)
            </td>
            <td>
                @{
                    string nazwa = "";
                    if (item.Spotkania.OrderBy(x => x.TerminSpotkania).FirstOrDefault() != null)
                    {
                        nazwa = item.Spotkania.OrderBy(x => x.TerminSpotkania).FirstOrDefault().TerminSpotkania.ToShortDateString();
                    }
                    else
                    {
                        nazwa = "Brak informacji";
                    }
                    <div>@nazwa</div>
                }

            </td>
            <td>
                @Html.ActionLink("Poznaj Szczegóły", "Details", new { id = item.IdEdycji }, new { @class = "btn btn-primary " }) 
                @Html.ActionLink("Dołącz", "Contribute", new { idEdycji = item.IdEdycji }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
